<a href="https://colab.research.google.com/github/M-Awwab-Khan/most-comprehensive-movies-analysis/blob/main/Most_Comprehensive_Movies_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Most Comprehensive Movies Analysis

## Download Dataset from Kaggle

In [3]:
! pip install -q kaggle

In [2]:
from google.colab import userdata
import os

os.environ["KAGGLE_KEY"] = userdata.get('key')
os.environ["KAGGLE_USERNAME"] = userdata.get('username')

In [4]:
!kaggle datasets download -d alanvourch/tmdb-movies-daily-updates

Downloading tmdb-movies-daily-updates.zip to /content
 94% 191M/204M [00:02<00:00, 71.3MB/s]
100% 204M/204M [00:02<00:00, 72.0MB/s]

In [5]:
! unzip "tmdb-movies-daily-updates.zip"

Archive:  tmdb-movies-daily-updates.zip
  inflating: TMDB_all_movies.csv

## Loading Required Libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## CSV to Dataframe

In [7]:
df = pd.read_csv('TMDB_all_movies.csv')

In [8]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,genres,production_companies,production_countries,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer
0,2,Ariel,7.082,304,Released,1988-10-21,0.0,73,0.0,tt0094675,...,"Drama, Comedy, Romance, Crime",Villealfa Filmproductions,Finland,suomi,"Markku Rantala, Esko Nikkari, Matti Pellonpää,...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN
1,3,Shadows in Paradise,7.300,348,Released,1986-10-17,0.0,74,0.0,tt0092149,...,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,"suomi, English, svenska","Pekka Laiho, Neka Haapanen, Teuvo Rissanen, Ma...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN
2,5,Four Rooms,5.800,2536,Released,1995-12-09,4257354.0,98,4000000.0,tt0113101,...,Comedy,"Miramax, A Band Apart",United States of America,English,"Lana McKissack, Valeria Golino, Kimberly Blair...","Quentin Tarantino, Alexandre Rockwell, Robert ...","Andrzej Sekula, Rodrigo García, Phil Parmet, G...","Quentin Tarantino, Alexandre Rockwell, Robert ...","Quentin Tarantino, Alexandre Rockwell, Lawrenc...",Combustible Edison
3,6,Judgment Night,6.527,316,Released,1993-10-15,12136938.0,109,21000000.0,tt0107286,...,"Action, Crime, Thriller","Largo Entertainment, JVC, Universal Pictures",United States of America,English,"Everlast, Peter Greene, Michael DeLorenzo, Den...",Stephen Hopkins,Peter Levy,"Jere Cunningham, Lewis Colick","Marilyn Vance, Gene Levy, Lloyd Segan",Alan Silvestri
4,8,Life in Loops (A Megacities RMX),7.500,27,Released,2006-01-01,0.0,80,42000.0,tt0825671,...,Documentary,inLoops,Austria,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN

In [9]:
df.shape

(913699, 25)

There are total 900K+ rows and 25 Features in our dataset. Such a huge number. Now let's analyze the datatypes of different features

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913699 entries, 0 to 913698
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       913699 non-null  int64
 1   title                    913694 non-null  object
 2   vote_average             913699 non-null  float64
 3   vote_count               913699 non-null  int64
 4   status                   913699 non-null  object
 5   release_date             826530 non-null  object
 6   revenue                  913699 non-null  float64
 7   runtime                  913699 non-null  int64
 8   budget                   913699 non-null  float64
 9   imdb_id                  554869 non-null  object
 10  original_language        913699 non-null  object
 11  original_title           913693 non-null  object
 12  overview                 759818 non-null  object
 13  popularity               913699 non-null  float64
 14  tagline                  134449 non-null  object
 15  genres                   647819 non-null  object
 16  production_companies     421225 non-null  object
 17  production_countries     560501 non-null  object
 18  spoken_languages         563117 non-null  object
 19  cast                     612706 non-null  object
 20  director                 752457 non-null  object
 21  director_of_photography  214618 non-null  object
 22  writers                  439204 non-null  object
 23  producers                285049 non-null  object
 24  music_composer           87438 non-null   object
dtypes: float64(4), int64(3), object(18)
memory usage: 174.3+ MB